
<article>
  <h1><%= film.title %></h1>
  <h2><%= film.year %></h2>
  <p>
    <% film.people.map(&:name).to_sentence %>
  </p>

  <div class="poster" data-freshness="<%= rand() %>"></div>
  <img src="<%= film.image_url %>">

  <p>
    <%= link_to "Back", root_path %>
    <%= link_to "View #{film.title}", interactions_path(film_id: film.id), method: 'post' %>
  </p>
</article>